#root {
  height: 100vh;
  color: #ff9901;
  font-weight: 500;
}

.app {
  height: 100%;
  margin: 0 auto;
  max-width: 1070px;
  padding-top: 50px;
}

p {
  margin: 0;
}

.app h1 {
  margin-top: 0;
}

.app__header {
  margin-bottom: 30px;
}

.app__body {
  text-align: center;
}